/* DEFAULTS
----------------------------------------------------------*/
/* line 9, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
body {
  background: #b6b7bc;
  font-size: .80em;
  font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 60px;
  background-image: url("/assets/img/bg_site1.png");
  background-position: top;
  background-repeat: repeat-x;
  background-color: #0071bd;
  color: #cccccc;
}

/* line 25, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
a:link, a:visited {
  color: #034af3;
}

/* line 30, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
a:hover {
  color: #1d60ff;
  text-decoration: none;
}

/* line 36, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
a:active {
  color: #034af3;
}

/* line 41, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
p {
  margin-bottom: 10px;
  line-height: 1.6em;
}

/* HEADINGS
----------------------------------------------------------*/
/* line 51, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 1.5em;
  color: #666666;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 200;
  margin-bottom: 0px;
}

/* line 61, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
h1 {
  font-size: 1.6em;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* line 68, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
h2 {
  font-size: 1.5em;
  font-weight: 600;
}

/* line 74, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
h3 {
  font-size: 1.2em;
}

/* line 79, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
h4 {
  font-size: 1.1em;
}

/* line 84, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
h5, h6 {
  font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the
first child of the left and right table columns */
/* line 91, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 {
  margin-top: 0px;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/
/* line 100, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.page {
  width: 960px;
  background-color: #fff;
  margin: 20px auto 0px auto;
  border: 1px solid #496077;
}

/* line 108, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.header {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: #4b6c9e;
  width: 100%;
}

/* line 117, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.header h1 {
  font-weight: 700;
  margin: 0px;
  padding: 0px 0px 0px 20px;
  color: #f9f9f9;
  border: none;
  line-height: 2em;
  font-size: 2em;
}

/* line 128, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.main {
  padding: 0px 12px;
  margin: 12px 8px 8px 8px;
  min-height: 420px;
}

/* line 135, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.leftCol {
  padding: 6px 0px;
  margin: 12px 8px 8px 8px;
  width: 200px;
  min-height: 200px;
}

/* line 143, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.footer {
  color: #4e5766;
  padding: 8px 0px 0px 0px;
  margin: 0px auto;
  text-align: center;
  line-height: normal;
}

/* TAB MENU
----------------------------------------------------------*/
/* line 156, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
div.hideSkiplink {
  background-color: #3a4f63;
  width: 100%;
}

/* line 162, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
div.menu {
  padding: 4px 0px 4px 8px;
}

/* line 167, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
div.menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: auto;
}

/* line 175, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
div.menu ul li a, div.menu ul li a:visited {
  background-color: #465c71;
  border: 1px #4e667d solid;
  color: #dde4ec;
  display: block;
  line-height: 1.35em;
  padding: 4px 20px;
  text-decoration: none;
  white-space: nowrap;
}

/* line 187, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
div.menu ul li a:hover {
  background-color: #bfcbd6;
  color: #465c71;
  text-decoration: none;
}

/* line 194, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
div.menu ul li a:active {
  background-color: #465c71;
  color: #cfdbe6;
  text-decoration: none;
}

/* FORM ELEMENTS
----------------------------------------------------------*/
/* line 204, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
fieldset {
  margin: 1em 0px;
  padding: 1em;
  border: 1px solid #ccc;
}

/* line 211, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
fieldset p {
  margin: 2px 12px 10px 10px;
}

/* line 216, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
fieldset.login label, fieldset.register label, fieldset.changePassword label {
  display: block;
}

/* line 221, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
fieldset label.inline {
  display: inline;
}

/* line 226, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
legend {
  font-size: 1.1em;
  font-weight: 600;
  padding: 2px 4px 8px 4px;
}

/* line 233, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
input.textEntry {
  width: 320px;
  border: 1px solid #ccc;
}

/* line 239, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
input.passwordEntry {
  width: 320px;
  border: 1px solid #ccc;
}

/* line 245, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
div.accountInfo {
  width: 42%;
}

/* MISC
----------------------------------------------------------*/
/* line 253, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.clear {
  clear: both;
}

/* line 258, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.title {
  display: block;
  float: left;
  text-align: left;
  width: auto;
}

/* line 266, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.loginDisplay {
  font-size: 1.1em;
  display: block;
  text-align: right;
  padding: 10px;
  color: White;
}

/* line 275, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.loginDisplay a:link {
  color: white;
}

/* line 280, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.loginDisplay a:visited {
  color: white;
}

/* line 285, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.loginDisplay a:hover {
  color: white;
}

/* line 290, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.failureNotification {
  font-size: 1.2em;
  color: Red;
}

/* line 296, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.bold {
  font-weight: bold;
}

/* line 301, /Users/benny/Sites/battleship/sass/sass/../modules/site.scss */
.submitButton {
  text-align: right;
  padding-right: 10px;
}

/* line 1, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
table.game-board {
  width: auto;
}

/* line 8, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.cell {
  width: 32px;
  height: 32px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background: url("/assets/img/game_sprite.png") -268px -367px;
}

/* line 18, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.missil-miss {
  background: url("/assets/img/game_sprite.png") -268px -268px;
}

/* line 23, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.burn {
  background: url("/assets/img/game_sprite.png") -268px -103px;
}

/* line 28, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
table.game-board tr td.hover, table.game-board tr td.hover {
  background: url("/assets/img/game_sprite.png") -301px -367px;
  cursor: move;
}

/* enemy size 5 vertical */
/* line 35, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-1 {
  background: url("/assets/img/game_sprite.png") -4px -132px;
}

/* line 36, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-2 {
  background: url("/assets/img/game_sprite.png") -4px -100px;
}

/* line 37, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-3 {
  background: url("/assets/img/game_sprite.png") -4px -68px;
}

/* line 38, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-4 {
  background: url("/assets/img/game_sprite.png") -4px -36px;
}

/* line 39, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-5 {
  background: url("/assets/img/game_sprite.png") -4px -4px;
}

/* ship size 5 burning */
/* line 41, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-1.burn {
  background: url("/assets/img/game_sprite.png") -4px -297px;
}

/* line 42, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-2.burn {
  background: url("/assets/img/game_sprite.png") -4px -265px;
}

/* line 43, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-3.burn {
  background: url("/assets/img/game_sprite.png") -4px -233px;
}

/* line 44, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-4.burn {
  background: url("/assets/img/game_sprite.png") -4px -201px;
}

/* line 45, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-vertical-5.burn {
  background: url("/assets/img/game_sprite.png") -4px -169px;
}

/* enemy size 5 horizontal */
/* line 48, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-1 {
  background: url("/assets/img/game_sprite.png") -37px -136px;
}

/* line 49, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-2 {
  background: url("/assets/img/game_sprite.png") -69px -136px;
}

/* line 50, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-3 {
  background: url("/assets/img/game_sprite.png") -101px -136px;
}

/* line 51, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-4 {
  background: url("/assets/img/game_sprite.png") -133px -136px;
}

/* line 52, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-5 {
  background: url("/assets/img/game_sprite.png") -165px -136px;
}

/* enemy size 5 horizontal burning */
/* line 54, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-1.burn {
  background: url("/assets/img/game_sprite.png") -4px -334px;
}

/* line 55, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-2.burn {
  background: url("/assets/img/game_sprite.png") -36px -334px;
}

/* line 56, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-3.burn {
  background: url("/assets/img/game_sprite.png") -68px -334px;
}

/* line 57, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-4.burn {
  background: url("/assets/img/game_sprite.png") -100px -334px;
}

/* line 58, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-5-horizontal-5.burn {
  background: url("/assets/img/game_sprite.png") -132px -334px;
}

/* ship size 4 vertical */
/* line 63, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-vertical-1 {
  background: url("/assets/img/game_sprite.png") -37px -100px;
}

/* line 64, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-vertical-2 {
  background: url("/assets/img/game_sprite.png") -37px -68px;
}

/* line 65, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-vertical-3 {
  background: url("/assets/img/game_sprite.png") -37px -36px;
}

/* line 66, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-vertical-4 {
  background: url("/assets/img/game_sprite.png") -37px -4px;
}

/* ship size 4 vertical burning */
/* line 68, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-vertical-1.burn {
  background: url("/assets/img/game_sprite.png") -37px -265px;
}

/* line 69, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-vertical-2.burn {
  background: url("/assets/img/game_sprite.png") -37px -233px;
}

/* line 70, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-vertical-3.burn {
  background: url("/assets/img/game_sprite.png") -37px -201px;
}

/* line 71, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-vertical-4.burn {
  background: url("/assets/img/game_sprite.png") -37px -169px;
}

/* ship size 4 horizontal */
/* line 74, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-horizontal-1 {
  background: url("/assets/img/game_sprite.png") -70px -103px;
}

/* line 75, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-horizontal-2 {
  background: url("/assets/img/game_sprite.png") -102px -103px;
}

/* line 76, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-horizontal-3 {
  background: url("/assets/img/game_sprite.png") -134px -103px;
}

/* line 77, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-horizontal-4 {
  background: url("/assets/img/game_sprite.png") -164px -103px;
}

/* ship size 4 horizontal burning*/
/* line 79, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-horizontal-1.burn {
  background: url("/assets/img/game_sprite.png") -37px -301px;
}

/* line 80, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-horizontal-2.burn {
  background: url("/assets/img/game_sprite.png") -69px -301px;
}

/* line 81, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-horizontal-3.burn {
  background: url("/assets/img/game_sprite.png") -101px -301px;
}

/* line 82, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-4-horizontal-4.burn {
  background: url("/assets/img/game_sprite.png") -133px -301px;
}

/* ship size 3 vertical */
/* line 86, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-vertical-1 {
  background: url("/assets/img/game_sprite.png") -70px -68px;
}

/* line 87, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-vertical-2 {
  background: url("/assets/img/game_sprite.png") -70px -36px;
}

/* line 88, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-vertical-3 {
  background: url("/assets/img/game_sprite.png") -70px -4px;
}

/* ship size 3 vertical burning*/
/* line 90, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-vertical-1.burn {
  background: url("/assets/img/game_sprite.png") -70px -233px;
}

/* line 91, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-vertical-2.burn {
  background: url("/assets/img/game_sprite.png") -70px -201px;
}

/* line 92, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-vertical-3.burn {
  background: url("/assets/img/game_sprite.png") -70px -169px;
}

/* ship size 3 horizontal */
/* line 95, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-horizontal-1 {
  background: url("/assets/img/game_sprite.png") -103px -70px;
}

/* line 96, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-horizontal-2 {
  background: url("/assets/img/game_sprite.png") -135px -70px;
}

/* line 97, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-horizontal-3 {
  background: url("/assets/img/game_sprite.png") -167px -70px;
}

/* ship size 3 horizontal burning*/
/* line 99, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-horizontal-1.burn {
  background: url("/assets/img/game_sprite.png") -70px -268px;
}

/* line 100, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-horizontal-2.burn {
  background: url("/assets/img/game_sprite.png") -104px -268px;
}

/* line 101, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-3-horizontal-3.burn {
  background: url("/assets/img/game_sprite.png") -136px -268px;
}

/* ship size 2 vertical */
/* line 105, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-2-vertical-1 {
  background: url("/assets/img/game_sprite.png") -103px -36px;
}

/* line 106, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-2-vertical-2 {
  background: url("/assets/img/game_sprite.png") -103px -4px;
}

/* ship size 2 vertical burning*/
/* line 108, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-2-vertical-1.burn {
  background: url("/assets/img/game_sprite.png") -103px -201px;
}

/* line 109, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-2-vertical-2.burn {
  background: url("/assets/img/game_sprite.png") -103px -169px;
}

/* ship size 2 horizontal */
/* line 112, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-2-horizontal-1 {
  background: url("/assets/img/game_sprite.png") -136px -37px;
}

/* line 113, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-2-horizontal-2 {
  background: url("/assets/img/game_sprite.png") -168px -37px;
}

/* ship size 2 horizontal burning*/
/* line 115, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-2-horizontal-1.burn {
  background: url("/assets/img/game_sprite.png") -168px -235px;
}

/* line 116, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-2-horizontal-2.burn {
  background: url("/assets/img/game_sprite.png") -104px -235px;
}

/* ship size 1 vertical */
/* line 120, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-1-vertical-1 {
  background: url("/assets/img/game_sprite.png") -136px -4px;
}

/* ship size 1 vertical burning*/
/* line 122, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-1-vertical-1.burn {
  background: url("/assets/img/game_sprite.png") -136px -169px;
}

/* ship size 1 horizontal */
/* line 125, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-1-horizontal-1 {
  background: url("/assets/img/game_sprite.png") -169px -4px;
}

/* ship size 1 horizontal burning*/
/* line 127, /Users/benny/Sites/battleship/sass/sass/../modules/game.scss */
td.ship-size-1-horizontal-1.burn {
  background: url("/assets/img/game_sprite.png") -136px -202px;
}
