// first we set descriptive variables:
$blue_dark: #003242;
$blue: #014F5C;
$blue_light: #097171;
$pastel: #DABD91;
$orange: #C07B55;

// then we set functional variables:
$backgroud_color: $blue_dark;
$text_color: $blue;
$link_color: $blue_light;
$title: $orange;
$border_color: $pastel;